In [8]:
import pandas as pd
import numpy as np
from datetime import datetime
import matplotlib.pyplot as plt
import seaborn as sb
from sklearn.model_selection import train_test_split

In [9]:
dataset = pd.read_csv("data/clean_dataset.csv")

In [10]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35544 entries, 0 to 35543
Data columns (total 9 columns):
Unnamed: 0         35544 non-null int64
UPDATE_TIME        35544 non-null int64
ZONE_CODE          35544 non-null int64
HOUR_ID            35544 non-null int64
BANDWIDTH_TOTAL    35544 non-null float64
MAX_USER           35544 non-null float64
DATE_IN_MONTH      35544 non-null int64
DATE_IN_WEEK       35544 non-null int64
DAY_SHIFT          35544 non-null int64
dtypes: float64(2), int64(7)
memory usage: 2.4 MB

In [11]:
dataset.head(10)

,Unnamed: 0,UPDATE_TIME,ZONE_CODE,HOUR_ID,BANDWIDTH_TOTAL,MAX_USER,DATE_IN_MONTH,DATE_IN_WEEK,DAY_SHIFT
0,0,1506816000,1,0,16096.710313,212415.0,1,6,0
1,1,1506816000,1,1,9374.207907,166362.0,1,6,0
2,2,1506816000,1,2,5606.225750,146370.0,1,6,0
3,3,1506816000,1,3,4155.654661,141270.0,1,6,0
4,4,1506816000,1,4,3253.978594,139689.0,1,6,0
5,5,1506816000,1,5,4310.774522,165342.0,1,6,0
6,6,1506816000,1,6,10015.599874,221901.0,1,6,0
7,7,1506816000,1,7,19780.995631,302736.0,1,6,0
8,8,1506816000,1,8,24344.875025,336600.0,1,6,1
9,9,1506816000,1,9,28651.427689,356235.0,1,6,1

In [12]:
dataset.corr()

,Unnamed: 0,UPDATE_TIME,ZONE_CODE,HOUR_ID,BANDWIDTH_TOTAL,MAX_USER,DATE_IN_MONTH,DATE_IN_WEEK,DAY_SHIFT
Unnamed: 0,1.000000,0.999740,0.032327,0.002138,0.233774,0.154339,-0.007666,0.004118,0.001711
UPDATE_TIME,0.999740,1.000000,0.032960,0.001460,0.233044,0.154116,-0.006745,0.004290,0.001073
ZONE_CODE,0.032327,0.032960,1.000000,0.000041,-0.611186,-0.755793,0.008337,-0.001165,0.000036
HOUR_ID,0.002138,0.001460,0.000041,1.000000,0.313592,0.181726,-0.000790,0.000046,0.943551
BANDWIDTH_TOTAL,0.233774,0.233044,-0.611186,0.313592,1.000000,0.925587,0.003470,0.035023,0.309379
MAX_USER,0.154339,0.154116,-0.755793,0.181726,0.925587,1.000000,0.008498,0.002566,0.183248
DATE_IN_MONTH,-0.007666,-0.006745,0.008337,-0.000790,0.003470,0.008498,1.000000,-0.017459,-0.000486
DATE_IN_WEEK,0.004118,0.004290,-0.001165,0.000046,0.035023,0.002566,-0.017459,1.000000,-0.000120
DAY_SHIFT,0.001711,0.001073,0.000036,0.943551,0.309379,0.183248,-0.000486,-0.000120,1.000000

In [13]:
data = dataset[['ZONE_CODE', 'HOUR_ID', 'DATE_IN_WEEK', "DAY_SHIFT"]]
bandwidth_total = dataset.BANDWIDTH_TOTAL
max_user = dataset.MAX_USER

In [14]:
x_train_bandwidth, x_test_bandwidth, y_train_bandwidth, y_test_bandwidth = train_test_split(data, bandwidth_total,test_size=0.3)
x_train_max_user, x_test_max_user, y_train_max_user, y_test_max_user = train_test_split(data, max_user,test_size=0.3)

In [15]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.neighbors import KNeighborsRegressor
list_k = []
list_acc = []
for k in range(2,50):
    list_k.append(k)
    neigh = KNeighborsRegressor(n_neighbors = k, weights='distance', algorithm='kd_tree', n_jobs = -1)
    neigh.fit(x_train_bandwidth,  y_train_bandwidth)
    y_pred_brandwidth = neigh.predict(x_test_bandwidth)
    acc = r2_score(y_test_bandwidth, y_pred_brandwidth)
    list_acc.append(acc)
    print("The Accurcy is", acc * 100, "% for k-value", k)
index = list_acc.index(max(list_acc))
k = list_k[index]
print("\nThe optimal number of neighbors is %d with %f%%" % (k, list_acc[index]* 100))

The Accurcy is 57.523244649635984 % for k-value 2
The Accurcy is 63.47337978827292 % for k-value 3
The Accurcy is 67.75547015043144 % for k-value 4
The Accurcy is 68.82982259693627 % for k-value 5
The Accurcy is 69.47780496390614 % for k-value 6
The Accurcy is 70.15905128422422 % for k-value 7
The Accurcy is 70.37202089006391 % for k-value 8
The Accurcy is 71.41759923730783 % for k-value 9
The Accurcy is 72.14359326652209 % for k-value 10
The Accurcy is 72.41954958658697 % for k-value 11
The Accurcy is 72.54601587604887 % for k-value 12
The Accurcy is 72.79617172026752 % for k-value 13
The Accurcy is 73.0233800464945 % for k-value 14
The Accurcy is 72.88883165923873 % for k-value 15
The Accurcy is 72.93515137616798 % for k-value 16
The Accurcy is 73.1310766789852 % for k-value 17
The Accurcy is 73.26218438209862 % for k-value 18
The Accurcy is 73.31890327415445 % for k-value 19
The Accurcy is 73.48046563044754 % for k-value 20
The Accurcy is 73.53586256670496 % for k-value 21
The Accurcy is 73.60332426869674 % for k-value 22
The Accurcy is 73.66140295322667 % for k-value 23
The Accurcy is 73.72507833626715 % for k-value 24
The Accurcy is 73.7876932061455 % for k-value 25
The Accurcy is 73.80963119121179 % for k-value 26
The Accurcy is 73.83126769592228 % for k-value 27
The Accurcy is 73.91344811465106 % for k-value 28
The Accurcy is 73.96038862806047 % for k-value 29
The Accurcy is 73.95945053863537 % for k-value 30
The Accurcy is 73.88985956354387 % for k-value 31
The Accurcy is 73.91734138062736 % for k-value 32
The Accurcy is 73.95898301060264 % for k-value 33
The Accurcy is 74.01674025810527 % for k-value 34
The Accurcy is 74.01186252403474 % for k-value 35
The Accurcy is 74.03662205008563 % for k-value 36
The Accurcy is 74.01047840204092 % for k-value 37
The Accurcy is 74.05834837505486 % for k-value 38
The Accurcy is 74.05156277546897 % for k-value 39
The Accurcy is 74.13644427504924 % for k-value 40
The Accurcy is 74.20429344759035 % for k-value 41
The Accurcy is 74.2088029744954 % for k-value 42
The Accurcy is 74.2437361609696 % for k-value 43
The Accurcy is 74.27918601234808 % for k-value 44
The Accurcy is 74.3002271008018 % for k-value 45
The Accurcy is 74.313946980444 % for k-value 46
The Accurcy is 74.35428562341716 % for k-value 47
The Accurcy is 74.34597088737465 % for k-value 48
The Accurcy is 74.33845447830912 % for k-value 49

The optimal number of neighbors is 47 with 74.354286%

In [16]:
neigh = KNeighborsRegressor(n_neighbors = k, weights='uniform', algorithm='auto')
neigh.fit(x_train_bandwidth, y_train_bandwidth)
y_pred_bandwidth = neigh.predict(x_test_bandwidth)

In [17]:
brandwidth_real_pred = pd.DataFrame({'y_test_brandwidth': y_test_bandwidth, 
                                     'y_pred_bandwidth': y_pred_bandwidth})

In [18]:
brandwidth_real_pred.head(10)

       y_test_brandwidth  y_pred_bandwidth
12112        2597.723669       3102.112646
30314        2380.682188       1457.595264
27853       14745.482069       9651.895618
23445        4269.800460       3790.087104
3427         1118.359148       3429.437779
7403         2818.467109       4491.603985
6203          594.545810       1532.337718
21509        7502.523278       6820.827728
1699        26171.507222      52461.405520
11518         795.735201       1393.994201

In [19]:
print("Bandwidth Mean squared error: %f"% mean_squared_error(y_test_bandwidth, y_pred_bandwidth))
print("Bandwidth Score: %f"% (r2_score(y_test_bandwidth, y_pred_bandwidth) * 100))
print("Bandwidth Score: %f"% (neigh.score(x_test_bandwidth, y_test_bandwidth) * 100))

Bandwidth Mean squared error: 145125471.951201
Bandwidth Score: 74.227719
Bandwidth Score: 74.227719

In [20]:
list_k = []
list_acc = []
for k in range(2,50):
    list_k.append(k)
    neigh = KNeighborsRegressor(n_neighbors = k, weights='uniform', algorithm='auto')
    neigh.fit(x_train_max_user,  y_train_max_user)
    y_pred_max_user = neigh.predict(x_test_max_user)
    acc = r2_score(y_test_max_user, y_pred_max_user)
    list_acc.append(acc)
    print("The Accurcy is", acc * 100, "% for k-value", k)
index = list_acc.index(max(list_acc))
k = list_k[index]
print("\nThe optimal number of neighbors is %d with %f%%" % (k, list_acc[index]* 100))

The Accurcy is 75.41368358352116 % for k-value 2
The Accurcy is 77.77116035142417 % for k-value 3
The Accurcy is 79.17711417414004 % for k-value 4
The Accurcy is 79.534989588474 % for k-value 5
The Accurcy is 80.20188571832114 % for k-value 6
The Accurcy is 80.7256663409331 % for k-value 7
The Accurcy is 81.11396443060289 % for k-value 8
The Accurcy is 81.23569297749926 % for k-value 9
The Accurcy is 81.48382257365385 % for k-value 10
The Accurcy is 81.6550669078746 % for k-value 11
The Accurcy is 81.8199169295617 % for k-value 12
The Accurcy is 81.90997889303814 % for k-value 13
The Accurcy is 82.01709205650472 % for k-value 14
The Accurcy is 82.12918782684483 % for k-value 15
The Accurcy is 82.20526248095167 % for k-value 16
The Accurcy is 82.21251131980134 % for k-value 17
The Accurcy is 82.27514867652062 % for k-value 18
The Accurcy is 82.316098708248 % for k-value 19
The Accurcy is 82.46760574038217 % for k-value 20
The Accurcy is 82.5444239225015 % for k-value 21
The Accurcy is 82.55764835030838 % for k-value 22
The Accurcy is 82.5398154599616 % for k-value 23
The Accurcy is 82.5439890229675 % for k-value 24
The Accurcy is 82.56035352406614 % for k-value 25
The Accurcy is 82.55737245603748 % for k-value 26
The Accurcy is 82.54997356095959 % for k-value 27
The Accurcy is 82.63301912956054 % for k-value 28
The Accurcy is 82.67195698893309 % for k-value 29
The Accurcy is 82.64130558885554 % for k-value 30
The Accurcy is 82.66869895015357 % for k-value 31
The Accurcy is 82.67470193693678 % for k-value 32
The Accurcy is 82.71252949560717 % for k-value 33
The Accurcy is 82.7135888105396 % for k-value 34
The Accurcy is 82.77924282238159 % for k-value 35
The Accurcy is 82.75331623719237 % for k-value 36
The Accurcy is 82.77595848948789 % for k-value 37
The Accurcy is 82.7767773122174 % for k-value 38
The Accurcy is 82.76551403002186 % for k-value 39
The Accurcy is 82.76817136716885 % for k-value 40
The Accurcy is 82.76991929073873 % for k-value 41
The Accurcy is 82.77289714642744 % for k-value 42
The Accurcy is 82.76203798143267 % for k-value 43
The Accurcy is 82.7401824035196 % for k-value 44
The Accurcy is 82.73488677146575 % for k-value 45
The Accurcy is 82.72324733367194 % for k-value 46
The Accurcy is 82.69503578384064 % for k-value 47
The Accurcy is 82.64585895603223 % for k-value 48
The Accurcy is 82.60911453241194 % for k-value 49

The optimal number of neighbors is 35 with 82.779243%

In [21]:
maxUser_knn = KNeighborsRegressor(n_neighbors = k, weights='uniform', algorithm='auto')
maxUser_knn.fit(x_train_max_user, y_train_max_user)
y_pred_max_user = maxUser_knn.predict(x_test_max_user)
y_pred_max_user = np.round(y_pred_max_user)

In [22]:
maxUser_real_pred = pd.DataFrame({'y_pred_maxUser': y_pred_max_user, 'y_test_max_user': y_test_max_user})
maxUser_real_pred.head()

       y_pred_maxUser  y_test_max_user
8049          64270.0          64107.0
31113         59191.0          67371.0
4013         551986.0         722262.0
21170        477906.0         634491.0
15325         69685.0          62883.0

In [23]:
print("MaxUser Mean squared error: %f"% mean_squared_error(y_pred_max_user, y_test_max_user))
print("MaxUser Score: %f"% r2_score(y_test_max_user, y_pred_max_user))
print("MaxUser Score: %f"% maxUser_knn.score(x_test_max_user, y_test_max_user))

MaxUser Mean squared error: 12421899114.525600
MaxUser Score: 0.827792
MaxUser Score: 0.827792