In [4]:
import pandas as pd
import numpy as np
import glob
import re
%config IPCompleter.greedy=True

### Requirement
We have the dataset **201*-baby-names-illinois.xlsx**. This dataset shows the frequency of baby names of Illinois state. Here is step need to done:
1. Read dataset
2. Identify the issue of dataset
3. Standard the dataset base on issue #2

In [5]:
csv_file = glob.glob("data/201*baby-names-illinois.csv")

In [6]:
csv_file

['data/2015-baby-names-illinois.csv', 'data/2014-baby-names-illinois.csv']

### Issue:
* The dataset are stored in many files. Solution: Read files by pattern
* The Year values are in file name. Solution: after read a file, add new column year to it's dataset

In [7]:
list_data = []
for file in csv_file:
    data = pd.read_csv(file)
    year = re.findall("\d+", file)
    data['Year'] = year[0]
    list_data.append(data)

In [8]:
baby_name = pd.concat(list_data, ignore_index=True)

In [9]:
baby_name.head()

   rank       name  frequency   sex  Year
0     1       Noah        863  Male  2015
1     2       Liam        709  Male  2015
2     3  Alexander        703  Male  2015
3     4      Jacob        650  Male  2015
4     5    William        618  Male  2015

In [10]:
baby_name.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201 entries, 0 to 200
Data columns (total 5 columns):
rank         201 non-null int64
name         201 non-null object
frequency    201 non-null int64
sex          201 non-null object
Year         201 non-null object
dtypes: int64(2), object(3)
memory usage: 7.9+ KB