In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
import matplotlib.pyplot as plt
import seaborn as sb
from sklearn.model_selection import train_test_split
import lib as lib

### Solution 1:
We use random forest algorithm to predict max user and bandwidth independence.<br>
The model is build based on data with columns: ***"ZONE_CODE", "HOUR_ID", "DATE_IN_WEEK", "DAY_SHIFT"**.<br>
The max user is predicted base on data: ***"ZONE_CODE", "HOUR_ID", "DATE_IN_WEEK", "DAY_SHIFT"** <br>
The bandwidth is also predicted base on data: ***"ZONE_CODE", "HOUR_ID", "DATE_IN_WEEK", "DAY_SHIFT"**

In [2]:
dataset = pd.read_csv("data/clean_dataset.csv")

In [3]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35544 entries, 0 to 35543
Data columns (total 9 columns):
Unnamed: 0         35544 non-null int64
UPDATE_TIME        35544 non-null int64
ZONE_CODE          35544 non-null int64
HOUR_ID            35544 non-null int64
BANDWIDTH_TOTAL    35544 non-null float64
MAX_USER           35544 non-null float64
DATE_IN_MONTH      35544 non-null int64
DATE_IN_WEEK       35544 non-null int64
DAY_SHIFT          35544 non-null int64
dtypes: float64(2), int64(7)
memory usage: 2.4 MB

In [4]:
dataset.head(10)

,Unnamed: 0,UPDATE_TIME,ZONE_CODE,HOUR_ID,BANDWIDTH_TOTAL,MAX_USER,DATE_IN_MONTH,DATE_IN_WEEK,DAY_SHIFT
0,0,1506816000,1,0,16096.710313,212415.0,1,6,0
1,1,1506816000,1,1,9374.207907,166362.0,1,6,0
2,2,1506816000,1,2,5606.225750,146370.0,1,6,0
3,3,1506816000,1,3,4155.654661,141270.0,1,6,0
4,4,1506816000,1,4,3253.978594,139689.0,1,6,0
5,5,1506816000,1,5,4310.774522,165342.0,1,6,0
6,6,1506816000,1,6,10015.599874,221901.0,1,6,0
7,7,1506816000,1,7,19780.995631,302736.0,1,6,0
8,8,1506816000,1,8,24344.875025,336600.0,1,6,1
9,9,1506816000,1,9,28651.427689,356235.0,1,6,1

In [5]:
dataset.corr()

,Unnamed: 0,UPDATE_TIME,ZONE_CODE,HOUR_ID,BANDWIDTH_TOTAL,MAX_USER,DATE_IN_MONTH,DATE_IN_WEEK,DAY_SHIFT
Unnamed: 0,1.000000,0.999740,0.032327,0.002138,0.233774,0.154339,-0.007666,0.004118,0.001711
UPDATE_TIME,0.999740,1.000000,0.032960,0.001460,0.233044,0.154116,-0.006745,0.004290,0.001073
ZONE_CODE,0.032327,0.032960,1.000000,0.000041,-0.611186,-0.755793,0.008337,-0.001165,0.000036
HOUR_ID,0.002138,0.001460,0.000041,1.000000,0.313592,0.181726,-0.000790,0.000046,0.943551
BANDWIDTH_TOTAL,0.233774,0.233044,-0.611186,0.313592,1.000000,0.925587,0.003470,0.035023,0.309379
MAX_USER,0.154339,0.154116,-0.755793,0.181726,0.925587,1.000000,0.008498,0.002566,0.183248
DATE_IN_MONTH,-0.007666,-0.006745,0.008337,-0.000790,0.003470,0.008498,1.000000,-0.017459,-0.000486
DATE_IN_WEEK,0.004118,0.004290,-0.001165,0.000046,0.035023,0.002566,-0.017459,1.000000,-0.000120
DAY_SHIFT,0.001711,0.001073,0.000036,0.943551,0.309379,0.183248,-0.000486,-0.000120,1.000000

In [6]:
#data = dataset[['DATE_IN_MONTH', 'ZONE_CODE', 'HOUR_ID']]
data = dataset[['ZONE_CODE', 'HOUR_ID', 'DATE_IN_WEEK', "DAY_SHIFT"]]
bandwidth_total = dataset.BANDWIDTH_TOTAL
max_user = dataset.MAX_USER

In [7]:
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score

In [8]:
model_bandwidth = RandomForestRegressor(n_estimators = 200, max_features='log2')
model_bandwidth.fit(data, bandwidth_total)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='log2', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=200,
                      n_jobs=None, oob_score=False, random_state=None,
                      verbose=0, warm_start=False)

In [9]:
model_maxUser = RandomForestRegressor(n_estimators = 120, max_features='auto')
model_maxUser .fit(data, max_user)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=120,
                      n_jobs=None, oob_score=False, random_state=None,
                      verbose=0, warm_start=False)

In [10]:
raw_test_data = pd.read_csv("data/test_id.csv")

In [11]:
raw_test_data.head()

   id UPDATE_TIME ZONE_CODE  HOUR_ID
0   0  2019-03-10    ZONE01        0
1   1  2019-03-10    ZONE01        1
2   2  2019-03-10    ZONE01        2
3   3  2019-03-10    ZONE01        3
4   4  2019-03-10    ZONE01        4

In [12]:
raw_test_data.ZONE_CODE = raw_test_data.ZONE_CODE.map({'ZONE01' : 1, 'ZONE03' : 3, 'ZONE02' : 2})
raw_test_data['DATE_IN_MONTH'] =  raw_test_data.UPDATE_TIME.map(lib.get_date_in_month).astype('int32')
raw_test_data['DATE_IN_WEEK'] =  raw_test_data.UPDATE_TIME.map(lib.get_date_in_week).astype('int32')
raw_test_data['DAY_SHIFT'] =  raw_test_data.HOUR_ID.map(lib.hour_to_shift).astype('int32')
raw_test_data.UPDATE_TIME = raw_test_data.UPDATE_TIME.map(lib.convert_datetime_to_timestamp).astype('int32')

In [13]:
raw_test_data.head()

   id  UPDATE_TIME  ZONE_CODE  HOUR_ID  DATE_IN_MONTH  DATE_IN_WEEK  DAY_SHIFT
0   0   1552176000          1        0             10             6          0
1   1   1552176000          1        1             10             6          0
2   2   1552176000          1        2             10             6          0
3   3   1552176000          1        3             10             6          0
4   4   1552176000          1        4             10             6          0

In [14]:
test_data = raw_test_data[['ZONE_CODE', 'HOUR_ID', 'DATE_IN_WEEK', "DAY_SHIFT"]]

In [15]:
test_bandwidth = model_bandwidth.predict(test_data)
test_maxUser = model_maxUser.predict(test_data)

In [16]:
test_bandwidth

array([33690.73991968, 19342.71721086, 12587.33060583, ...,
        7648.55191249,  5560.64721621,  3316.01810168])

In [17]:
test_bandwidth = np.around(test_bandwidth, decimals=2)
test_bandwidth

array([33690.74, 19342.72, 12587.33, ...,  7648.55,  5560.65,  3316.02])

In [18]:
test_maxUser

array([440168.132886  , 330831.4422039 , 279024.268104  , ...,
        49639.62368635,  40428.21622725,  30848.69262746])

In [19]:
test_maxUser = np.round(test_maxUser)
test_maxUser

array([440168., 330831., 279024., ...,  49640.,  40428.,  30849.])

In [20]:
final_test_data = pd.DataFrame({'id': raw_test_data['id'], 'bandwidth': test_bandwidth,"max_user": test_maxUser})

In [21]:
final_test_data['label'] = final_test_data[['bandwidth', 'max_user']].apply(lambda x: '{} {}'.format(x[0],x[1]), axis=1)

In [22]:
export_test_data = final_test_data[['id', 'label']]

In [23]:
export_test_data.to_csv("data/random_forest_independence_prediction.csv", index=False)

In [24]:
export_test_data.head()

   id              label
0   0  33690.74 440168.0
1   1  19342.72 330831.0
2   2  12587.33 279024.0
3   3   9047.19 251105.0
4   4   7534.05 245496.0